body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* altura total da tela */
  margin: 0;
  background-color: #f2f2f2; /* cor de fundo suave */
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 500px;
}