@charset "utf-8";

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 12px 20px;
  font-family: Arial, sans-serif;
}

.cabecalho {
  height: auto;
  width: 100%;
  background-color: #ec7000;
  padding: 16px;
  color: #fff;
  font-size: 16pt;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
}